@model IEnumerable<Camp.Mvc.Swatter.Aggregates.Flies.FlyListAggregate>

<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Create New", "Create")
    </div>
    <div class="col-md-10 text-right" style="text-align: right;">
        <form method="get" class="form-inline">
            <div class="form-group">
                <label for="searchTerm">Search:</label>
                <input type="search" class="form-control" id="searchTerm" name="query" placeholder="Input search term" value="@ViewBag.Query">
            </div>
            <button type="submit" class="btn btn-default">Search for flies</button>
        </form>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fly.Head)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fly.Creator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fly.Updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysAlive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fly.Weight)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("DetailsByCode", new {code = item.Code})">@Html.DisplayFor(modelItem => item.Code)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fly.Head)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fly.Creator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fly.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysAlive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fly.Weight)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Fly.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Fly.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Fly.Id })
            </td>
        </tr>
    }

</table>